$font-1 : 'Squada One', cursive;
$font-2 : 'Raleway', sans-serif;
$font-3 : 'Anton', sans-serif;
$font-4 : 'BenchNine', sans-serif;
$font-5 : 'Titillium Web', sans-serif;
$font-6 : 'Muli', sans-serif;
$font-7 : 'Bree Serif', serif;